<label>Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<label>User Name</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName"
  (update)="onUpdateUserName($event)">
<p>{{ userName }}</p>
<button
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">
Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>

<button
  class="btn btn-primary"
  [disabled]="!allowClearUserName"
  (click)="onClickClearUsername()">
  Clear User Name
</button>
<app-server></app-server>
<app-server></app-server>

