<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h3>I'm in the app component</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <hr />
        <app-servers></app-servers>
        <app-warning-alert></app-warning-alert>
        <app-success-alert></app-success-alert>
    </div>
  </div>
</div>

